body {
    margin:0;
    padding:0;
    font-family: "sans-serif";
    
}

.banner img {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

.gmail {
    position: fixed;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gmail img {
    width: 55px;
    height: 55px;
}

.gmail:hover img{
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateY(0);}
    50% {transform: translateY(-5px);}
}

.gmail p {
    color: white;
    font-size: 90%;
    font-weight: bold;
}

.linkedin {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.linkedin img {
    width: 50px;
    height: 50px;
}

.linkedin:hover img {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateY(0);}
    50% {transform: translateY(-5px);}
}

.linkedin p {
    color: white;
    font-size: 90%;
    font-weight: bold;
}

.ins {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ins img {
    width: 50px;
    height: 50px;
}

.ins:hover img {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateY(0);}
    50% {transform: translateY(-5px);}
}

.ins p {
    color: white;
    font-size: 90%;
    font-weight: bold;
}

.contact-form {
    position:relative;
    background-color: rgba(30, 169, 164, 0.2);
    padding:15px;
    border-radius: 30px;
    width:300px;
    top:450px;
    margin: 0px auto;
    font-size: 15px;
    color:white;
    box-shadow: 0 1px 50px rgba(0,100,100,1);
    text-align: center;
}

.contact-form label {
    display: inline-block;
    padding:5px;

}

.contact-form input,
.contact-form textarea {
    width:200px;
    padding:1px;
    border: 1px solid white;
    border-radius: 10px;
}

.contact-form button {
    width:100px;
    padding:1px;
    background-color:white;
    color:rgb(32, 129, 79);
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-size:15px;
    display: inline-block;
}

.back-button {
    position:fixed;
    bottom:100px;
    left:50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    border: 0.5px solid #ffffff;
    padding: 10px 20px;
    text-decoration: none;
	display: inline-block;
    border-radius: 20px;
}

.back-button:hover {
   background-color: #ffffff;
   color: #2eb499;
   transition: background-color 0.5s ease;
}