body {
    margin: 0;
    padding:0;
    background-color: #e5e4e4;
    height: 100vh;
}

.content-container {
    display: flex;
    justify-content: space-between;
    height: 60vh;
    background-color: #dddad3;
    color: #7f7950;
    padding: 20px;
}

.text-container {
    max-width: 50%;
}

.title {
    font-size: 3.5em;
    line-height: 1.3em;
    margin-top: 25%;
    margin-left: 30px;
    font-family: "Julius Sans One", serif;
}

.image-container {
    max-width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
}

.image-container img {
    width: 100%;
    height: auto;
    max-height: 50vh;
    border-radius: inherit;
    padding: 10px;
    transition: transform 0.7s ease;
}

.image-container img:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .text-container, .image-container {
        max-width: 100%;
        text-align: center;
    }
    .title {
        font-size: 2em;
        margin: 0;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 30px 30px;
}

.typefont {
    font-family: "Julius Sans One", serif;
    font-weight: bold;
    font-size: 1.7em;
    color: #7f7950;
}

.info {
    font-size: 1.3em;
    line-height: 1.4em;
    font-family: "Onest", serif;
    grid-column: 2 / 3;
}

.creation {
    grid-column: 1 / 2;
    margin-top: 15px;
    margin-left: 10px;
    line-height: 1em;
    color: #7f7950;
}

.intro {
    font-family: "Onest", serif;
    font-weight: 600;
    font-size: 1.5em;
}

.date {
    font-family:"Onest", serif;
    font-size: 1.2em;
}

@media (max-width:768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .creation, .info {
        grid-column: 1 / 2;
        text-align: center;
    }
}

.back-button {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    left:50%;
    font-family: "Onest", serif;
    transform: translateX(-50%);
    color: #7f7950;
    font-size: 1.2em;
    text-align: center;
    border: 2.5px solid #7d7858;
    padding: 10px 20px;
    text-decoration: none;
	display: inline-block;
    border-radius: 20px;
}

.back-button:hover {
   background-color: #7f7950;
   color: #e5e4e4;
   transition: background-color 0.2s ease;
}

@media screen and (max-width: 300px) {
    .home-button {
        font-size: 15px;
    }
}

footer {
   display: block;
   background-color: #dddad3;
   width:100%;
   padding-top: 30px;
   padding-bottom: 30px;
   box-sizing: border-box;
}

.copyright {
    position: relative;
    font-size: 13px;
    color: #7f7950;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

@media screen and (max-width: 300px) {
    .copyright {
        font-size: 10px;
    }
}