body {
    margin:0;
    padding:0;
    font-family: sans-serif;
} 

.background img{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

#intro {
    position: fixed;
    display:flex;
    justify-content: center;
    color:#0f38a9;
    font-size: 35px;
    top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:100%;
    z-index: 1;
}

.photo img {
    position: relative;
    left: 10%;
    top: 30px;
    border-radius: 60%;
    width: 175px;;
    height:190px;
    z-index: 1;
}

.profile {
    display:flex;
    position: fixed;
    justify-content: center;
    margin-top:50px;
    width: 100%;
    top: 100px;
}

.info {
    margin-left: 50px;
    min-width: 500px;
}

.info h1 {
    font-weight: lighter;
    color: rgb(230, 240, 250);
    font-size: 40px;
}

.info p {
    display: inline-block;
    width: auto;
    max-width: 500px;
    color: rgb(230, 240, 250);
    font-size:20px;
    line-height:1.5;
    margin-bottom:40px;
}

.button-container {
    display: flex;
    justify-content: center;
    position:fixed;
    bottom: 60px;
    width: 100%;
}

.projects-button, .contact-button {
    color: #c1def7;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    text-align: center;
    border: 1px solid #c1def7;
    padding: 10px 20px;
    text-decoration: none;
	display: inline-block;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 350;
}

a:hover {
    background-color: #ffffff;
    color: #176ff3;
    transition: background-color 0.2s ease;
}

.copyright {
    position: fixed;
    font-size: 15px;
    color: #c1def7;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 1px;
}