body {
    background-color: #ffffff;
    margin:0;
    padding:0;
    font-family: sans-serif;
} 

.background-top img { 
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:110px;
    z-index: -1;
}

.intro {
    display:flex;
    justify-content: center;
    color:#c8f6ed;
    font-weight: 400;
}

.photo img {
    margin-top:40px;
    margin-left:10px;
    border-radius: 60%;
    width:175px;
    height:190px;
}

.profile {
    display:flex;
    justify-content: center;
    padding:20px;
    margin-top:40px;
    width: 100%;
}

.info {
    margin-left: 50px;
    min-width: 500px;
}

.info h1 {
    font-family:Helvetica;
    font-weight: lighter;
    color: rgb(34, 151, 141);
    font-size: 40px;
}

.info u1 {
    list-style: none;
    padding:0;
    font-size:20px;
    font-weight: 500;
    color: rgb(34, 151, 141);
}

.info p {
    font-size:20px;
    line-height:1.5;
    margin-bottom:40px;
}

.background-bottom img { 
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:90px;
    z-index: -1;
}

a {
    position:fixed;
    bottom:23px;
    left:50%;
    transform:translateX(-50%);
    color: #c8f6ed;
    font-size: 20px;
    text-align: center;
    border: 0.5px solid #c8f6ed;
    padding: 10px 20px;
    text-decoration: none;
	display: inline-block;
    border-radius: 20px;
}

a:hover {
    background-color: #ffffff;
    color: #2eb499;
    transition: background-color 0.3s ease;
}
.info p{
    display: inline-block;
    width: auto;
    max-width: 500px;
}